body{
  background-color: #d4f8e8;
}
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 50%;
}
h1
{
  color: #005082;
}
h3
{
  color: #005082;
}
